<html>
    <link rel="stylesheet" href="css/stylesheet.css">
    <title>{{about}}</title>

<body>
    <h1>Weather APP</h1>
    <form>
        <input type="text" id="mytext" placeholder="Enter Location"></input>
         
        <button onclick="functionName(mytext.value)">Search</button>
    
    <p id="weather-info"></p>
    </form>

</body>
<script src="js/app.js"></script>
    
</html>