<html>
    <link rel="stylesheet" href="css/stylesheet.css">
    <title>{{about}}</title>
<h1>index</h1>
<body>
    <form>
        <input type="text" id="mytext" placeholder="Location"></input>
         
        <button onclick="functionName(mytext.value)">Search</button>
    <p id="weather-info"></p>
    </form>

</body>
<script src="js/app.js"></script>
    
</html>